    @font-face{
        font-family:"Sailec W05 Medium";
        src:url("Fonts/5472507/c96b20a7-72a1-40ba-a441-563129bb9cd6.eot?#iefix");
        src:url("Fonts/5472507/c96b20a7-72a1-40ba-a441-563129bb9cd6.eot?#iefix") format("eot"),url("Fonts/5472507/a1b501c6-02c3-4270-abed-64bb4b8ce257.woff2") format("woff2"),url("Fonts/5472507/a3f39c3c-0827-44ea-b173-27ac5ba80d83.woff") format("woff"),url("Fonts/5472507/2a213e32-9ed4-4dd5-887b-4f0fe81b511a.ttf") format("truetype");
    }
